@font-face {
  font-family: rejoy;
  src: url(./donate-assets/Rejouice-Headline.ttf);
}

@font-face {
  font-family: nb;
  src: url(./donate-assets/NBInternationalProBoo.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: rejoy;
}

#brandname {
  z-index: 99999999 !important;
}

nav {
  /* background-color: crimson; */
  height: 20vh;
  width: 100%;
  padding: 3vw;
}

#brandname {
  font-family: nb;
  font-size: 1.5rem;
  color: black;
}

nav a {
  text-decoration: none;
}
#main {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

#main video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#ftext {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9999;
  background-color: #fff;
  padding: 1.4vw 3vw;
  border-radius: 10px;
}

#ftext button {
  padding: 1vw 1.3vw;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.316);
  background-color: #fff;
  cursor: pointer;
  font-family: nb;
  text-transform: capitalize;
  margin-top: 10px;
}
